        <div class="container">
            <footer class="page-footer" style="background-color: black;">
                <div class="footer-copyright">
                    <div class="container">
                        CityLizard webshop by BRAL nv
                    </div>
                </div>
            </footer>
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.15/default/snipcart.css" />
<div id="snipcart" data-api-key="N2ZiNmNlZjktMzE4MC00NWVmLTk1OTItZTc2ZDBhMzg3MjJmNjM3MTA0NTc5ODU4OTY3MjQ5" hidden></div>
<script src="https://cdn.snipcart.com/themes/v3.0.15/default/snipcart.js"></script>
        <script>
            Snipcart.execute('registerLocale', 'nl', {
                powered_by:
                "Bral nv"
            }); 
        </script>
    </body>
</html>
