<div class="col s4">
    <h2 class="header">{{ .result.id }}</h2>
    <div class="card horizontal">
        {{ .result.name.nl }}
        <div class="card-image">
            {{ range .result.photos }}
                <img loading="lazy" src="{{ .formats.medium }}" >
            {{ end }}
        </div>
        <br>
        <ul>
            <li>gewicht: {{ .result.weight }}</li>
            <li>width: {{ .result.width }}</li>
            <li>lenght: {{ .result.length }}</li>
        </ul>
    </div>
</div>
